{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hotels list</title>
    <link rel="stylesheet" href="{% static 'hotels/stylesheet.css'%}" type="text/css">
</head>
<body>
    <h1 class="name"> HOTELS</h1>
            <table class="hotels">
                    <tr>
                        <th class="headlines">ID</th>
                        <th class="headlines" >Name</th>
                        <th class="headlines" >Country</th>
                        <th class="headlines">City</th>
                        <th class="headlines">Beds</th>
                        <th class="headlines">Rank</th>
                    </tr>
                {% for h in hotels %}
                    <tr>
                        <td class="information">{{ h.id }}</td>
                        <td class="information">{{ h.name }}</td>
                        <td class="information">{{ h.country }}</td>
                        <td class="information">{{ h.town }}</td>
                        <td class="information">{{ h.beds }}</td>
                        <td class="information">{{ h.rank }}</td>
                    </tr>
                {% endfor %}
            </table>
</body>
</html>
