{% extends 'reservation/blank.html' %}

{% load i18n %}

{% block title %}{% trans 'Hotel reservation' %}{% endblock %}

{% block content %}
        <h1>{% trans 'booking greets you' %}</h1>
        <p>{% trans 'Selected hotels according to your request' %}</p>
            <div class="row">
                <div class="col-md-2" style="background-color: #ff9999">{% trans 'Country' %}</div>
                <div class="col-md-2" style="background-color: #99CCFF">{% trans 'Name' %}</div>
                <div class="col-md-2" style="background-color: #00CC99">{% trans 'Rank' %}</div>
                <div class="col-md-2" style="background-color: #ff9999">{% trans 'Town' %}</div>
                <div class="col-md-2" style="background-color: #99CCFF">{% trans 'Beds' %}</div>
            </div>
        <br>
        {% for item in selection %}
            <div class="row">
                <div class="col-md-2" style="background-color: #ff9999">{{ item.country }}</div>
                <div class="col-md-2" style="background-color: #99CCFF">{{ item.name }}</div>
                <div class="col-md-2" style="background-color: #00CC99">{{ item.rank }}</div>
                <div class="col-md-2" style="background-color: #ff9999">{{ item.town }}</div>
                <div class="col-md-2" style="background-color: #99CCFF">{{ item.beds }}</div>
                <div class="col-md-2"><a href="{% url 'booking' item.pk %}" class="btn btn-info" role="button">{% trans 'To book' %}</a></div>
            </div>
        {% endfor %}
{% endblock %}
