{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="col-md-4">
        <h1 class="h2 mb-4 fw-normal text-center">{% translate 'Change your password' %}</h1>
        <div class="form-group">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="password" class="form-control" name="old_password" placeholder="{{ form.old_password.label }}" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="new_password1" placeholder="{{ form.new_password1.label }}" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="new_password2" placeholder="{{ form.new_password2.label }}" required>
                </div>
                <hr class="my-3">
                <div class="mb-3">
                    <button class="w-100 btn btn-lg btn-primary" type="submit">{% translate 'Change password' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}