{% extends 'base.html' %}
{% load i18n %}
<head>

    <meta charset="UTF-8">
    <title>{% trans 'Login' %}</title>
    <style>
    .bord {
        border: 1.5px solid blue;
        padding: 0px 0px 10px 0px;
        margin: 20% 40%;
        }
    .center {
        text-align: center;
        padding: 2px;
        }
    .right {
        text-align: right;
        padding: 2px;
        }
    </style>
</head>
{% block content %}
    <div class="bord">
    <h2 class="center">{% trans 'Login' %}</h2>
    <form method="post" action="">
        {% csrf_token %}
            <div class="center">
                <input type="text" name="username" placeholder="{{ form.username.label }}" required>
            </div>
            <div class="center">
                <input type="password" name="password" placeholder="{{ form.password.label }}" required>
            </div>
            <div class="center">
            <input type = "submit" value = "{% trans 'Log in' %}">
            </div>
    </form>
        <div class="right">
            <a href="{% url 'reset_password' %}">"{% trans 'Forget password' %}"</a>
        </div>
        <div class="right">
             <a href="{% url 'registration' %}">"{% trans 'Registration' %}"</a>
        </div>
    </div>
{% endblock content %}
