h1.name {
    text-align: center;
}
table.hotels {
    width: 100%;
    font-family: sans-serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #efeee4;
    color: #333333;
    border: 2px solid #ceced2;
    border-radius: 20px;
}
th.headlines {
    font-size: 18px;
    padding: 10px;
}
td.information {
    background: #b8ecf5;
    padding: 10px;
}
